# Dependencies
node_modules/
debug-images/

# testing
/coverage

# next.js
/.next
/dist/
*.tsbuildinfo

# Environment files
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Debug files
debug-*.md
*.debug
